@media screen and (max-width: 768px) {
  .events-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .events-container {
    flex-direction: row;
  }
}

.events-container .MuiPickersCalendarHeader-dayLabel {
  color: darkgray !important;
}

.events-container .MuiPickersDay-day:not(.MuiPickersDay-hidden) {
  color: white;
}

.event-list a:hover {
  transition: color 0.3s;
  color: lightgray;
  cursor: pointer;
}